/* Estilos Gerais */
body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.botao {
  border: 3px solid #fec63e; /* Amarelo */
  border-radius: 2px;
  padding: 7px 20px;
  text-decoration: none;
  color: #fec63e; /* Amarelo */
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 0.1em;
}

.botao:hover {
  background: #fec63e; /* Amarelo */
  border: 3px solid #000000;
  border-radius: 2px;
  padding: 8px 21px;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: bolder;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.349);
}

.subtitulo {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: black;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
}

.subtitulo:after {
  content: "";
  display: block;
  width: 60px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin: 8px auto;
}

.cta {
  text-align: center;
}
.cta p {
  padding-bottom: 20px;
}
/* = = = =  */

/* Header */
.header {
  width: 100%;
  background-color: #fec63e; /* Amarelo */
  padding: 15px 0;
  position: fixed;
  top: 0;
  z-index: 2;
}

.header_menu {
  text-align: right;
  margin-top: 25px;
}
.header_menu ul li {
  display: inline-block;
  margin-left: 25px;
}
.header_menu ul a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 14px;
  line-height: 20px;
  padding: 10px;
  /* O padding aumenta a area de contato! */
}

.header_menu ul a:hover {
  color: white;
  font-size: 15px;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
/* = = = = */

/* Banner */
.banner {
  width: 100%;
  height: 380px;
  background: url("../img/bg.jpg");
  background-size: cover;
  /* A margin tem tamanho do header */
  margin-top: 95px;
  text-align: center;
}

.banner h1 {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 48px;
  padding: 10px;
  padding-top: 90px;
}

.quote-externa {
  max-width: 300px;
  margin: 0 auto;
  color: white;
  margin-bottom: 50px;
}

.quote-externa p {
  font-style: italic;
}

.quote-externa p:before,
.quote-externa p:after {
  content: "";
  display: block;
  width: 60px;
  border: 2px solid white;
  border-radius: 10px;
  margin: 15px auto 10px auto;
}
.quote-externa cite {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.01em;
}
/* = = = = */

/* Produtos */
.produtos {
  padding: 60px 0;
}

.produtos_lista li {
  background: #fec63e; /* Amarelo */
  text-align: center;
  /* A imagem também alinha através do text-align */
  margin-bottom: 50px;
}
.produtos_lista li:hover {
  scale: 1.02;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.192);
}

.produtos_lista li div {
  /* Background do Ícone*/
  background: black;
  padding: 20px;
}

.produtos_lista li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 5px;
  margin-top: 5px;
}
.produtos_lista li h3:after {
  content: "";
  display: block;
  width: 60px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin: 5px auto;
}

.produtos_lista li p {
  margin: 0px 10px 10px 10px;
  font-size: 14px;
  line-height: 20px;
}

.produtos cta p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 20px;
}
/* = = = = */
